body {
	background: url("../images/crystal_background2.jpg");
}

.row {
	margin-bottom: 10px;
}

.random {
	background-color: #8FBC8F;
}

.results {
	background-color: aqua;
	margin-left: 10px;
}

.scoreBox1 {
	background-color: teal;
	color: white;
}

.scoreBox2 {
	background-color: teal;
	color: white;
	height: 80px;
}

.topBox {
	background-color: orange;
	color: white;
	height: 70px;
}

.jumbotron {
    background-color:tan !important; 
    color: green !important;
}